/* Default background position */
.default-background {
  background-position: 120px 20px;
}

/* Background position for smaller screens */
.smaller-screen-background {
  background-position: center;
}

#left-col {
  background-position: rem -82px;
}

@media (max-width: 700px) {
  #left-col {
    background-position: 0 -22px;
  }
}
