/* Base styles */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input,
.login-form button {
  margin: 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .auth-container {
    flex-direction: row;
    justify-content: center;
  }

  .authenticated {
    margin-right: 20px;
  }

  .login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .login-form input[type="email"],
  .login-form input[type="password"],
  .login-form input[type="text"],
  .login-form button {
    flex: 0 0 45%;
  }

  .login-form button {
    flex-basis: 100%;
  }
}
