@tailwind base;
@tailwind components;
@tailwind utilities;
/* Green : #259F83  #0D9488 */
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./fonts/BebasNeueProRegular.otf") format("opentype");
}

/* body.light-mode .your-container-class .your-paper-class .search-field {
  background-color: red;
  color: red;
}

body.dark-mode .your-container-class .your-paper-class .search-field {
  background-color: #333;
  color: #0e0e0e;
} */

body {
  min-height: 100svh;
  /* background-color: #00000000; */
  height: 100svh;
  -webkit-tap-highlight-color: transparent;
}
.css-yz9k0d-MuiInputBase-input:focus {
  outline: 0;
  --tw-ring-color: transparent !important;
}

.App {
  display: flex;
  flex-direction: column;
}

section {
  box-shadow: 7px 5px 5px rgba(1, 14, 9, 0.63);
}

/* a,
a:visited {
  color: #fff;
} */

/* .instructions {
  font-size: 1rem;
  border-radius: 0.5rem;
  background: #333;
  color: #ffffffe0;
  padding: 0.25rem;
  position: relative;
} */

/* .instructions > svg {
  margin-right: 0.25rem;
} */

/* .offscreen {
  position: absolute;
  left: -9999px;
} */

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d9488;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ffea;
}

body {
  font-family: "BebasNeue-Regular", sans-serif;
  -webkit-tap-highlight-color: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NavBottom {
  position: fixed;
  z-index: 40;
  transition: right 0.3s ease;
  box-shadow: 0px 10px 10px 8px rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  body .NavBottom {
    bottom: 0;
    width: 100vw;
    height: 4rem;
    -webkit-tap-highlight-color: none;
  }
  body .NavBottom:hover {
    border: none;
  }
}

@media (min-width: 768px) {
  .NavBottom {
    visibility: hidden;
    opacity: 0;
  }
}
